

    <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 style="margin-top:1em;">departments</h2>
                            <p class='page-details'>Medhawk operates in several sections in the fields</p>
                            <br/>
                            {{#if isAuthenticated}}
                                <a href="/departments/create" class="btn btn-info" style="width:20em;display:block;margin:auto;">Create a Department</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- our depertment part start-->
    <section class="our_depertment section_padding single_pepertment_page">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-12">
                    <div class="depertment_content">
                        <div class="row justify-content-center">
                            <div class="col-xl-8">
                                {{#if empty}}
                                    <div class="alert alert-warning">
                                        <h4>No departments found.</h4>
                                    </div>
                                {{/if}}
                                <h2>Our Department</h2>
                                <div class="row">
                                    
                                    {{#each departments}}
                                        <div class="col-lg-6 col-sm-6">
                                    
                                            <div class="single_our_depertment">
                                                 
                                                    
                                                <img src="{{this.imageUrl}}"
                                                        alt="{{this.name}}" style="width:100%;">
                                                <hr/>
                                                <h4>{{this.name}}</h4>
                                                <p>{{this.about}}</p>
                                                {{#if ../isAuthenticated}}
                                                    <hr>
                                                    <a href="/departments/{{this.id}}/update" class="btn btn-primary">Edit</a>
                                                    <a href="/departments/{{this.id}}/delete" class="btn btn-danger">Delete</a>

                                                {{/if}}
                                                
                                            </div>
                                             
                                        </div>
                                       
                                    {{/each}}
                                    
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our depertment part end-->

    <!--::doctor_part start::-->
    <section class="doctor_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2> Experienced Doctors</h2>
                        <p>Face replenish sea good winged bearing years air divide wasHave night male also</p>
                        {{#if isAuthenticated}}
                            <a href="/doctor/create" class="btn btn-success">Add Doctor</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each doctors}}
                    <div class="col-sm-6 col-lg-3">
                        <div class="single_blog_item">
                            <div class="single_blog_img">
                                <img src="{{this.imageUrl}}" alt="{{this.name}}">
                                <div class="social_icon">
                                    <ul>
                                        <li><a href="{{this.facebookLink}}"> <i class="ti-facebook"></i> </a></li>
                                        <li><a href="{{this.twitterLink}}"> <i class="ti-twitter-alt"></i> </a></li>
                                        <li><a href="{{this.instagramLink}}"> <i class="ti-instagram"></i> </a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="single_text">
                                <div class="single_blog_text">
                                    <h3>{{this.name}}</h3>
                                    <p>{{this.role}}</p>
                                </div>
                                {{#if ../isAuthenticated}}
                                    <hr>
                                    <a href="/doctor/{{this.id}}/update" class="btn btn-info">Edit</a>
                                    <a href="/doctor/{{this.id}}/delete" class="btn btn-danger">Delete</a>
                                    <hr>
                                {{/if}}
                            </div>
                        </div>
                    </div>


                {{/each}}
                
                
            </div>
        </div>
    </section>
    <!--::doctor_part end::-->

