

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>{{tagline}}</h5>
                            <h1>{{heading}}</h1>
                            <p>{{short_bio}}</p>
                            <a href="/appointment" class="btn_2">Make an appointment</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="/static/img/banner_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{#if err}}
        <div class="alert alert-danger">
            <h4>{{err}}</h4>
        </div>
    {{/if}}
    <!-- banner part start-->

    <!-- about us part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="about_us_img">
                        <img src="/static/img/top_service.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <h2>Why choose us</h2>
                        <p>{{why_choose_us}}</p>
                        <a class="btn_2 " href="/about">learn more</a>
                        <div class="banner_item">
                            <div class="single_item">
                                <img src="/static/img/icon/banner_1.svg" alt="">
                                <h5>Emergency</h5>
                            </div>
                            <div class="single_item">
                                <img src="/static/img/icon/banner_2.svg" alt="">
                                <h5>Medical</h5>
                            </div>
                            <div class="single_item">
                                <img src="/static/img/icon/banner_3.svg" alt="">
                                <h5>Services</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about us part end-->

    <!-- feature_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2>Our services</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col-sm-12">
                    {{#each services}}
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><img src="{{this.imageUrl}}" alt=""></span>
                                <h4>{{this.heading}}</h4>
                                <p>{{truncatewords this.description 30}} ...</p>
                            </div>
                        </div>
                    {{/each}}
                    
                    
                </div>
                <div class="col-lg-4 col-sm-12">
                        <div class="single_feature_img">
                            <img src="/static/img/service.png" alt="">
                        </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    {{#each services}}
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><img src="{{this.imageUrl}}" alt=""></span>
                                <h4>{{this.heading}}</h4>
                                <p>{{truncatewords this.description 30}} ...</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <!-- feature_part start-->

    <!-- our depertment part start-->
    <section class="our_depertment section_padding">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-12">
                    <div class="depertment_content">
                        <div class="row justify-content-center">
                            <div class="col-xl-8">
                                <h2>Our Depertment</h2>
                                <div class="row">
                                    {{#each departments}}
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="single_our_depertment">
                                                <img src="{{this.imageUrl}}"
                                                        alt="">
                                                <hr>
                                                <h4>{{this.name}}</h4>
                                                <p>{{truncatewords this.about 30}}</p>
                                            </div>
                                        </div>
                                    {{/each}}
                                    
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our depertment part end-->

    <!--::doctor_part start::-->
    <section class="doctor_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2> Experienced Doctors</h2>
                        <p>The group of people who make {{brand.fullName}} a success</p>
                        {{#if isAuthenticated}}
                            <a href="/doctor/create" class="btn btn-success">Add New Doctor</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each doctors}}
                     <div class="col-sm-6 col-lg-3">
                        <div class="single_blog_item">
                            <div class="single_blog_img">
                                <img src="{{this.imageUrl}}" alt="doctor">
                                <div class="social_icon">
                                    <ul>
                                        <li><a href="{{this.facebookLink}}"> <i class="ti-facebook"></i> </a></li>
                                        <li><a href="{{this.twitterLink}}"> <i class="ti-twitter-alt"></i> </a></li>
                                        <li><a href="{{this.instagramLink}}"> <i class="ti-instagram"></i> </a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="single_text">
                                <div class="single_blog_text">
                                    <h3>{{this.name}}</h3>
                                    <p>{{this.role}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
    <!--::doctor_part end::-->

    <!--::regervation_part start::-->
    <section class="regervation_part section_padding">
        <div class="container">
            <div class="row align-items-center regervation_content">
                <div class="col-lg-7">
                    <div class="regervation_part_iner">
                        <form>
                            <img src="https://cdn.pixabay.com/photo/2019/03/26/04/30/influencer-4081842_960_720.jpg" style="" />
                            
                            <div class="regerv_btn">
                                <a href="/appointment" class="btn_2">Make an Appointment</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="reservation_img">
                        <img src="/static/img/reservation.png" alt="" class="reservation_img_iner">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::regervation_part end::-->

    <!--::blog_part start::-->
    <section class="blog_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2>Our Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {{#if posts}}
                    {{#each posts}}
                        <div class="col-sm-6">
                            <div class="single-home-blog">
                                <div class="card">
                                    <img src="{{this.cover_image_url}}" class="card-img-top" alt="{{this.title}}">
                                    <div class="card-body">
                                        <a href="/post/{{this.id}}/details">
                                            <h5 class="card-title">{{this.title}}</h5>
                                        </a>
                                        <ul>
                                            <li> <span class="ti-user"></span>{{../brand.fullName}}</li>
                                            <li> <span class="ti-bookmark"></span>Clinic, doctors</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {{/each}}
                {{/if}}
            </div>
            <br/>
            <div class="row" style="display: flex;justify-content:center">
                <a href="/post/all" class="btn btn-warning">All Posts</a>
            </div>
        </div>
    </section>
    <!--::blog_part end::-->

  