

     <!-- breadcrumb start-->
     <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 style="margin-top:1em;">services</h2>
                            <p class='page-details'>It's not who we are underneath. It's what we do that define us.</p>
                            <br/>
                            {{#if isAuthenticated}}
                                <a href="/create-new-service" class="btn btn-warning" style='width:20em;display:block;margin:auto;color:white;'>Create New Service</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <section class="blog_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2>Things we do</h2>
                    </div>
                </div>
            </div>
            {{#if err}}
                <div class="alert alert-danger">
                    <h4>{{err}}</h4>
                </div>
            {{/if}}
            <div class="row">
                {{#if services}}
                    {{#each services}}
                         <div class="col-sm-6" style="margin-bottom:1em !important;">
                            <div class="single-home-blog">
                                <div class="card">
                                    <img src="{{this.imageUrl}}" class="card-img-top" alt={{this.heading}}>
                                    <div class="card-body">
                                        <a href="/service/{{this.id}}">
                                            <h5 class="card-title">{{this.heading}} </h5>
                                        </a>
                                        <ul>
                                            <li> <span class="ti-user"></span>Medhawk</li>
                                            <li> <span class="ti-bookmark"></span>Emergency Medical Services</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {{/each}}
                {{/if}}
                
                
            </div>
        </div>
    </section>
    <!-- feature_part start-->

    <!--::doctor_part start::-->
    

    
    <!--::regervation_part end::-->

    