<section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 style="margin-top:1em">{{category.name}}</h2>
                            <h4>Are you sure you want to delete ?</h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="container">
        {{#if err}}
            <div class="alert alert-danger"><p>{{err}}</p></div>
        {{/if}}
        <img src={{category.image_url}} alt="{{category.name}}" class="responsive" style="display: block;margin:auto;">
        <br/>
        <form method="POST" to="/category/{{category.id}}/delete">
            <input type="hidden" value="{{csrfToken}}" name="_csrf">
            <div class="form-group">
                <button class="btn btn-danger" style="width:15em;display:block;margin:auto;">Confirm Delete</button>
            </div>
        </form>
    </div>
</section>